.root{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.bbr {
    width: 16px;    
    height: 16px;
    cursor: pointer;
    
}


.leftpanel{
    
    height: 100%;

}

.centralpanel{
    
    height: 100%;
    
}
.rightpanel{
    
    height: 100%;
    
}

.workplace{
    display: flex;
    flex-flow: column;
    grid-template-columns: auto 50% auto;
    
    align-items: center;
    justify-content: center;
}


.top-panel{
    flex: 25%;
    display: flex;
    
}
.down-panel{
    flex: 25%;
    display: flex;
    flex-flow: column;
}
.horizontal{
    display: flex;
    flex-direction: row;
}
.vertical{
    display: flex;
    flex-direction: column;
}

.pole {
    border: 1px black solid;
    display: grid;
    gap: 5px;
    grid-template-columns: max-content max-content max-content max-content  max-content  max-content;
    align-content: center;
    grid-template-rows: max-content;

}
.unit {
    width : 5rem;
    height: 5rem;
    padding: 1rem;
    border: 1px gray solid;
    text-align: center;
    cursor: pointer;
}
.unit:hover {
    background: blue;
}
.unit[visible="false"] {
    border: 1px yellow solid;
    visibility: hidden;
}    

.completed {
    border: 1px yellow solid;
    visibility: hidden;
}    


.titles{
    font-size: 2rem;
}

.unit-pict {
    width : 5rem;
    height: 5rem;

}

[selected="true"] {
    border: 1px black solid;
}




.button{
    width : 12rem;
    height: 2rem;
    background: lightblue;
    text-align: center;
    border: 1px green solid ;
    cursor: pointer;
}
.button:hover{
    background: yellow;
    border: 1px red solid ;
}

